<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>The Family of Pradhans welcomes you !!!</h1>
    <br><br>
    <p>
        Name : Biswajeet Pradhan<br>
        email : biswajeet3838@gmail.com<br>
        password : *****************<br>
        location : Odisha, India<br>
    </p><br><br>
    <a href="{{ url_for('login') }}">              <!--within 'url_for' you have to put the function name (login) mentioned in app.py-->
        <input type="submit" value="login">
    </a>
</body>
</html>