<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='1_login_page.css') }}">
    <title>Document</title>
</head>
<body>
    <form class="login_form">
        <div>
        <label>Username : </label>
        <input type="text" placeholder="enter name" >
        </div>

        <div>
        <label>Email : </label>
        <input type="text" placeholder="enter email">
        </div>

        <div>
        <label>Phone no. : </label>
        <input type="tel" placeholder="enter phone no.">
        </div>

        <div>
        <label>Password : </label>
        <input type="password" placeholder="enter password">
        </div>

    </form>
</body>
</html>